* {
    padding: 0;
    margin:  0;
}

body {
    background-color: orange;
}

.navegador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(32, 29, 29);
    align-items: center;
}

.navegador div{
    background-color: rgb(32, 29, 29);
    width: 100px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;

}

i {
    margin: 10px ;
}

.index {
    margin-top: 510px;
}