body {
    background-image: url(../img/html-color-codes-color-tutorials-hero.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-align: center;
}

div{
    margin: auto;
    padding: 6px;
    width: 50%;
}

li {
    text-align: center;
    color: white;
}
